<html>
  <head>
    <title>Factory!<% if(typeof(title)!='undefined'){ %> - <%=title%> <% } %></title>
    <script type="text/javascript" src="widget_factory.js"></script>
  </head>
  <body> 
    <div id="head">
      <h1>The Widget Factory</h1>
      <ul class="nav">
	<li><a href="">Home</a>
	<li><a href="/create">Create A Widget</a>
	<li><a href="/list">Widget List</a>
      </ul>
    </div>
    <% if(typeof(title)!='undefined'){ %><h2><%=title%></h2> <% } %>
